<div class="intro">
    <p>
    Cryptography functions in JavaScript
    </p>
</div>

<h2>Description</h2>

<p>Y.Crypto Namespace contains utility functions to aide cryptographic functions, and implementations of various cryptographic functions (currently only MD5) for use in a pure JavaScript environment.<br>
</p>

```
YUI().use('gallery-crypto-md5', function(Y) {
  alert(Y.Crypto.MD5("Test Value"));
});
```

